#upload-box {
    position: fixed;
    width: 520px;
    right: -1px;
    bottom: -1px;
    display: none;
    overflow-x: hidden;
    /* opacity: 0.9; */
    /* box-shadow: 0px 5px 15px #888888; */
}

.qq-uploader {
    max-height: 100% !important;
    min-height: 500px !important;
    background: url("/public/img/svg/icon-collect-info.svg") 100% 100% no-repeat;
    padding: 10px 10px 0px 10px;
    overflow-x: hidden;
    /* border */
    background: #eee;
    border-right: none;
    border-bottom: none;
    border: 2px dashed rgb(209, 209, 209);
    border-radius: 0px;
    border-top-left-radius: 2px;
}

.qq-btn-group {}

.qq-li {
    border: none !important;
    /* margin-top: 5px !important; */
    /* border-radius: 2px !important; */
    border-radius: 0px !important;
    overflow: hidden;
    border-bottom: 1px solid #ddd !important;
}

.qq-upload-list li.qq-upload-success {
    /* background-color: MediumSeaGreen;
    color: #fff; */
    background-color: transparent;
    color: #000;
    /* MediumSeaGreen */
    /* background-color: white; */
    /* border: 2px solid MediumSeaGreen !important; */
    /* color: MediumSeaGreen; */
    /* border-radius: 10px; */
    /* border-bottom: none !important; */
    border-top: none !important;
    /* margin-top: 2px; */
}

.qq-upload-list li {
    /* margin: 0;
    padding: 9px;
    line-height: 15px;
    font-size: 16px;
    color: #424242; */
    background-color: transparent;
    /* border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd; */
}

.qq-upload-button {
    /* display: inline;
    width: 105px;
    margin-bottom: 10px;
    padding: 7px 10px;
    text-align: center;
    float: left; */
    background: dodgerblue;
    color: #fff;
    border-radius: 2px;
    border: none !important;
    box-shadow: none !important;
    outline: none;
    /* width: calc(50% - 25px); */
}

.qq-clean-button {
    display: inline;
    width: 105px;
    /* width: calc(50% - 25px); */
    margin-bottom: 10px;
    padding: 7px 10px;
    text-align: center;
    float: left;
    background: #FF4040;
    color: #fff !important;
    border-radius: 2px;
    border: none !important;
    box-shadow: none !important;
    outline: none;
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
}

.qq-clean-button:hover {
    background: #CD3333;
}

.qq-clean-button:active {
    background: #8B2323;
}

.qq-upload-list {
    box-shadow: none !important;
    /* border-radius: 2px; */
}

.qq-btn {
    box-shadow: none !important;
}

.qq-upload-button:active {
    background: darkblue;
}

.qq-upload-button-hover {
    background: blue;
}

.qq-upload-cancel {
    padding: 0px;
    /* padding: 2px 5px; */
    border-radius: 2px;
    /* background-color: #FF4040; */
    /* color: white; */
    color: #FF4040;
    background: none !important;
    border: none;
}

.qq-upload-cancel:hover {
    /* background-color: #CD3333 !important; */
    color: #CD3333;
}

.qq-editable {
    padding-top: 2px;
}

.qq-edit-filename {
    height: 20px !important;
}

img {
    user-select: none;
}

.qq-upload-list li.qq-upload-fail {
    /* background-color: #FF6A6A !important; */
    /* border: 1px solid #CD2626 !important; */
    /* color: #fff;
    background-color: #FF4040 !important; */
    /* border-radius: 2px; */
    color: #FF4040;
    background-color: transparent !important;
}

.qq-upload-size,
.qq-upload-retry,
.qq-upload-cancel {
    margin-right: 0px;
    margin-left: 8px;
}

.qq-upload-retry {
    padding: 0px;
    /* background-color: MediumSeaGreen;
    color: #fff; */
    color: MediumSeaGreen;
    background: none !important;
    border: none;
    border-radius: 2px;
}

.qq-upload-retry:hover {
    /* background-color: green !important; */
    color: green;
}

.qq-tbl {
    width: 100%;
}

.qq-tbl td {
    /* padding-top: 5px; */
    /* border: 1px dashed black; */
}

.qq-progress-bar {
    /* display: block; */
    /* display: block; */
    background: MediumSeaGreen;
    /* width: 0; */
    height: 5px;
    border-radius: 1px;
    /* margin-bottom: 3px */
}

.qq-upload-status-text {
    padding-right: 0px;
    text-align: right;
}

.qq-upload-list {
    background: #eee !important;
}

.qq-uploader dialog {
    text-align: center;
    /* border-width: initial;
    border-style: solid;
    border-color: initial;
    border-image: initial; */
    min-width: 400px;
    /* min-height: 300px; */
    color: #555;
    padding: 1em;
    background: white;
    border-radius: 3px;
    border: 0px !important;
}

.qq-cancel-button-selector {
    width: 105px;
    padding: 7px 10px;
    text-align: center;
    background: #eee;
    border-radius: 2px;
    border: none !important;
    box-shadow: none !important;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.qq-cancel-button-selector:hover {
    background: #ddd;
}

.qq-cancel-button-selector:active {
    background: #aaa;
}