:root {
    --top-h: 50px;
    --side-with: 250px;
    --side-height: 30%;
    --main-color: dodgerblue;
    --main-font-color: #fff;
    --main-bg-color: #111;
    --side-bg-color: #222;
    --side-border-color: #000;
    --side-font-color: #fff;
    --side-title-font-color: #fff;
    --act-color: dodgerblue;
    --title-align: left;
}

body,
html {
    padding: 0;
    margin: 0;
    /* width: 100%; */
    height: 100%;
    background: var(--main-bg-color);
    overflow: hidden;
}

.main {
    /* width: 100%;
    height: calc(100% - var(--side-height)); */
    float: left;
    height: 100%;
    width: calc(100% - var(--side-with));
}

.main .title {
    color: var(--main-font-color);
}

.side {
    /* width: 100%;
    height: var(--side-height); */
    width: calc(var(--side-with) - 1px);
    height: 100%;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    border-left: 1px solid var(--side-border-color);
    /* background: #111;
    color: var(--font-color); */
    background: var(--side-bg-color);
    padding-top: 51px;
    color: var(--side-font-color);
    /* opacity: 0.8; */
}

video {
    width: 100%;
    /* min-width: 400px; */
    /* max-width: calc(100% - 40px); */
    max-height: calc(100% - var(--top-h));
    outline: none;
    /* border-radius: 2px; */
}

.video-box {
    width: 100%;
    height: 100%;
    text-align: center;
    /* background: #111; */
    /* border-bottom: 1px solid #111; */
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 15px 20px;
    text-align: var(--title-align);
}

.title-list {
    /* background: #111; */
    color: var(--main-color);
    position: fixed;
    top: 0;
    /* background: white; */
    text-align: center;
    padding-top: 15px;
    padding-bottom: 14px;
    /* border-bottom: 1px solid #111; */
    width: calc(var(--side-with) - 1px);
    /* width: 100%; */
}


/* .icon-m {
    width: 20px;
    height: 24px;
} */