.file-drop-zone {
    /*height: 200px !important;*/
}

.td-do {
    width: 110px;
    text-align: left;
}

.td-size {
    width: 80px;
}

.td-time {
    width: 150px;
}

.a-file {
    color: black;
}

.file-preview-frame {
    width: 16% !important;
    height: 120px !important;
}

.file-footer-caption {
    width: 60px !important;
    margin: 0px !important;
}

.file-preview-other {
    padding: 0px !important;
}

.file-other-icon {
    font-size: 20px;
}

.file-drop-zone {
    /*border: 0px !important;*/
}

.file-preview {
    border-radius: 0px !important;
    border: 0px !important;
    margin-bottom: 15px !important;
}

.table {
    margin-bottom: 0px;
}

.md-editor {
    border: 0px solid #2B4DB4 !important;
    padding: 0px;
}

.md-header {
    padding: 6px !important;
    background: white !important;
}

pre {
    background-color: white !important;
    border: 0px !important;
    border-radius: 0px !important;
}

.navbar-default {
    margin-bottom: 5px;
    background: transparent !important;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px !important;
    color: #2B4DB4;
    /* border-bottom: 2px solid #2B4DB4; */
}

.navbar-default a {
    color: #2B4DB4 !important;
}

.input-search {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

div {
    border-radius: 15px !important;
}

.btn {
    /*border-radius: 15px !important;*/
}

.btn-search {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.tbl-thead {
    /* background:#4169E1;
    color:white; */
}

.my-breadcrumb {
    background: white;
    border-radius: 15px;
    margin-bottom: 0px;
    padding-top: 10px;
    /*padding-left: 5px;*/
}

/* .panel-default .panel-heading {
    background: #f5f5f5 !important;
} */

.panel-body {
    padding: 0px !important;
    margin-top: 0px;
}

.table-responsive {
    margin-bottom: 0px;
    border: 0px;
}

body {
    background: #efefef;
}

.form-control {
    border-radius: 15px !important;
}

.panel-body-login {
    background: #4169E1;
    padding: 5px 10px 5px 10px;
}

.panel-body-login input {
    background: #2B4DB4;
    border: 1px solid #2B4DB4;
    color: whitesmoke;
}

.panel {
    -moz-box-shadow: 0px 1px 10px #bbb;
    -webkit-box-shadow: 0px 1px 10px #bbb;
    box-shadow: 0px 1px 10px #bbb;
}

.input-group {
    /*-moz-box-shadow: 0px 1px 15px #bbb;*/
    /*-webkit-box-shadow: 0px 1px 15px #bbb;*/
    /*box-shadow: 0px 1px 15px #bbb;*/
}

.input-group input {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.input-group button {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.panel-heading {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.modal-header {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.md-header {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.md-editor.active {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.md-footer {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.modal-footer {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

tbody {
    border-bottom-right-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}

.fade {
    border-radius: 0px !important;
}

.fade.in {
    border-radius: 0px !important;
}

.panel-body {
    border-radius: 0px !important;
}

.pannel-footer {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    padding: 10px;
}

.grid-box {
    text-align: center;
    margin-bottom: 10px;
    height: 140px;
    padding: 0px;
}

.grid-box a {
    color: black;
}

.grid-bg {
    padding: 5px;
}

.grid-bg:hover {
    background: #eee;
    border-radius: 5px !important;
    /* -moz-box-shadow: 0px 1px 10px #bbb;
    -webkit-box-shadow: 0px 1px 10px #bbb;
    box-shadow: 0px 1px 10px #bbb; */
}

.grid-bg:hover a {
    color: #2B4DB4;
}

.alert {
    -moz-box-shadow: 0px 1px 10px #bbb;
    -webkit-box-shadow: 0px 1px 10px #bbb;
    box-shadow: 0px 1px 10px #bbb;
}

.grid-img-file {
    width: 50px;
    height: 60px;
}

.grid-img-folder {
    width: 60px;
    height: 50px;
}

.grid-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    border-radius: 0px !important;
    font-size: 10px;
}

.grid-footer {
    border-radius: 0px !important;
}

.md-box {
    border-radius: 0px !important;
    padding: 10px;
}

.md-preview {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    padding: 10px;
}

.action-box{
    padding: 0px;
    background: #f5f5f5 !important;
}

.action-bar {
    padding: 5px;
    /*text-align: center;*/
    /* background: #f5f5f5; */
    /* border-radius: 0px !important; */
    /* border-bottom: 1px solid #dedede; */
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.path-bar {
    /*text-align: center;*/
    /*margin-left: 5px;*/
    padding: 5px 10px;
    background: #f5f5f5;
    border-radius: 0px !important;
    border-bottom: 1px solid #dedede;
}

.btn-left{
    border-bottom-left-radius: 15px !important;
    border-top-left-radius: 15px !important;
}

.btn-right{
    border-bottom-right-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.btn-lg-left{
    border-bottom-left-radius: 22px !important;
    border-top-left-radius: 22px !important;
}

.btn-lg-right{
    border-bottom-right-radius: 22px !important;
    border-top-right-radius: 22px !important;
}

.panel-login{
    padding: 10px;
    margin-top:10%;
    /* background: #4169E1; */
}