.file-drop-zone {
    /*height: 200px !important;*/
}

.td-do {
    width: 110px;
    text-align: left;
}

.td-size {
    width: 80px;
}

.td-time {
    width: 150px;
}

.a-file {
    color: black;
}

.file-preview-frame {
    width: 16% !important;
    height: 120px !important;
}

.file-footer-caption {
    width: 60px !important;
    margin: 0px !important;
}

.file-preview-other {
    padding: 0px !important;
}

.file-other-icon {
    font-size: 20px;
}

.file-drop-zone {
    /*border: 0px !important;*/
}

.file-preview {
    border-radius: 0px !important;
    border: 0px !important;
    margin-bottom: 15px !important;
}

.table {
    margin-bottom: 0px;
}

.md-editor {
    border: 0px solid #2B4DB4 !important;
    padding: 0px;
}

.md-header {
    padding: 6px !important;
    background: white !important;
}

.md-preview {

    border-top: 0px !important;
    border-bottom: 0px !important;
}

pre {
    background-color: white !important;
    border: 0px !important;
    border-radius: 0px !important;
}

.navbar-default {
    margin-bottom: 5px;
    background: transparent !important;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px !important;
    color: #2B4DB4;
    /* border-bottom: 2px solid #2B4DB4; */
}

.navbar-default a {
    color: #2B4DB4 !important;
}

.input-search {
    background: #2B4DB4;
    color: white;
    border: 1px solid #2B4DB4 !important;
}

div {
    border-radius: 15px !important;
}

.btn {
    border-radius: 15px !important;
}

.btn-search {
    border: 1px solid #4169E1 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.tbl-thead {
    /* background:#4169E1;
    color:white; */
}

.my-breadcrumb {
    background: white;
    border-radius: 15px;
    margin-bottom: 0px;
    padding-top: 10px;
    /*padding-left: 5px;*/
}

.panel-heading {
    background: white !important;
}

.panel-body {
    padding: 0px !important;
    margin-top: 0px;
}

.table-responsive {
    margin-bottom: 0px;
    border: 0px;
}

.icon-bar {
    background: whitesmoke !important;
}

.navbar-toggle {
    border: 0px !important;
    background: #2B4DB4 !important;
    border-radius: 15px !important;
}

body {
    background: #eee;
}

.form-control {
    border-radius: 15px !important;
}

.panel-body-login {
    background: #4169E1;
    padding: 5px 10px 5px 10px;
}

.panel-body-login input {
    background: #2B4DB4;
    border: 1px solid #2B4DB4;
    color: whitesmoke;
}

.panel {
    -moz-box-shadow: 0px 10px 30px #bbb;
    -webkit-box-shadow: 0px 10px 30px #bbb;
    box-shadow: 0px 10px 30px #bbb;
}

/*.input-group{*/
/*    -moz-box-shadow:0px 5px 10px #ABABAB;*/
/*    -webkit-box-shadow:0px 5px 10px #ABABAB;*/
/*    box-shadow:0px 5px 10px #ABABAB;*/
/*}*/

.input-group input {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.input-group button {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.panel-heading {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.modal-header {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.md-header {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.md-editor.active {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.md-footer {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.modal-footer {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

tbody {
    border-bottom-right-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}

.fade {
    border-radius: 0px !important;
}

.fade.in {
    border-radius: 0px !important;
}

.panel-body {
    border-radius: 0px !important;
}

.pannel-footer {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    padding: 10px;
}