<!DOCTYPE html>
<html>

<head>
    {{template "HeadTemp"}}
</head>

<body>
    {{template "Nav2Temp"}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">About</div>
                    <div class="panel-body">
                        <ul>
                            <li>1.This is a open source HTTP file server</li>
                            <li>2.You can edit,delete,update,download file</li>
                            <li>3.Every readme.md file in a folder will be show in page</li>
                            <li>4.You can search file by name</li>
                            <br>
                            <li>
                                Github <a href="https://github.com/newham/gofs">https://github.com/newham/gofs</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">License</div>
                    <div class="panel-body">
                        <pre class="pre-scrollable">
                        {{.License}}
                        </pre>
                    </div>
                </div>

                

            </div>
        </div>
    </div>

</body>

</html>