{{define "BodyTemp"}}
    

    <form enctype="multipart/form-data" action="/upload" method="POST">
        Send this file: <input name="file" type="file" />
        <input type="hidden" name="filePath" value="{{.Folder.Path}}" />
        <input type="submit" value="Send File" />
    </form>
    

    
    <h3><a href="/folder?name={{.Folder.Up}}/">UP</a> <br>{{.Folder.Path}}</h3>
    <table class="table table-striped table-bordered">
        
        {{range $k, $v := .Folder.Folders}} 
            <tr>
                <td><a href="/folder?name={{$.Folder.Path}}{{$v}}/">{{$v}}</a></td>
            </tr>
        {{end}}
            
            
        
        
        {{range $k, $v := .Folder.Files}} 
            <tr>
                <td>{{$v}}</td>
                <td><a href="/file?name={{$.Folder.Path}}{{$v}}" download="{{$v}}">download</a></td>
                <td><a href="/del?name={{$.Folder.Path}}{{$v}}">delete</a></td>
            </tr>
        {{end}}
        
    </table>
    {{if .Msg}}{{.Msg}}{{end}}
{{end}}