<!DOCTYPE html>
<html>

<head>
    {{template "HeadTemp"}}
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!--pannle-->
                <div class="panel panel-default" style="margin-top: 30px;">
                    <div class="panel-heading">
                        <a onclick="history.back()" class="btn btn-xs btn-primary">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        </a>

                        {{.FileName}}

                    </div>
                    <div class="panel-body" style="padding:0px;">
                        <form action="/edit?type=save" method="POST" id="editForm">
                            <textarea id="edit-textarea" rows="32" name="text" style="padding: 10px;"></textarea>
                            <input type="hidden" name="name" value="{{.FileName}}">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        $("#edit-textarea").markdown({
            autofocus: true,
            savable: true,
            onShow: function(e) {
                e.setContent("{{.FileText}}");
            },
            onSave: function(e) {
                $('#editForm').submit();
            },
        });
    </script>
</body>

</html>