{{define "FolderTemp"}}


    <!--pannle-->

    <!--end pannel-->

    <div class="row" style="padding: 10px 20px 0px 20px;">
        {{if ne .Folder.Path "/"}}
            <div class="col-lg-1 col-md-2 col-xs-2 grid-box">
                <a href="/folder?name={{.Folder.Up}}">
                    <div class="grid-bg">
                        <img src="/public/img/folder.png" class="grid-img-folder">
                        <div class="grid-title">
                            ../
                        </div>
                    </div>
                </a>
            </div>
        {{end}}
        {{range $k, $v := .Folder.Folders}}
            <div class="col-lg-1 col-md-2 col-xs-2 grid-box">
                <div class="grid-bg">
                    <a href="/folder?name={{$.Folder.Path}}{{$v}}">
                        <img src="/public/img/folder.png" class="grid-img-folder">
                        <div class="grid-title">
                            {{$v}}
                        </div>
                    </a>
                </div>
                <div class="grid-footer">
                    <input type="checkbox" name="check-delete" value="{{$.Folder.Path}}{{$v}}">
                    <a href="javascript:if(confirm('Ensure Delete  [{{$v}}]?'))location='/del?name={{$.Folder.Path}}{{$v}}'">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </div>

            </div>
        {{end}}
        {{range $k, $v := .Folder.Files}}
            <div class="col-lg-1 col-md-2 col-xs-2 grid-box">
                <div class="grid-bg">
                    <a href="/download?name={{$.Folder.Path}}{{$v.Name}}&type=file" download="{{$v.Name}}">
                        <img src="/public/img/file.png" class="grid-img-file">
                        <div class="grid-title">
                            {{$v.Name}}
                        </div>
                    </a>
                </div>
                <div class="grid-footer">
                    <input type="checkbox" name="check-delete" value="{{$.Folder.Path}}{{$v.Name}}">
                    <a
                            href="javascript:if(confirm('Ensure Delete [{{$v.Name}}]?'))location='/del?name={{$.Folder.Path}}{{$v.Name}}'">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    {{if $v.Editable}}
                        <a href="/edit?name={{$.Folder.Path}}{{$v.Name}}&type=open"><span
                                    class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    {{end}}


                </div>

            </div>
        {{end}}
        {{if not ( or  .Folder.Folders .Folder.Files )}}
            <div class="col-lg-1 col-md-2 col-xs-3 grid-box">
                <div class="grid-bg">
                    <a href="#" data-toggle="modal"
                       data-target="#uploadModal">
                        <img src="/public/img/up.png" class="grid-img-file">
                        <div class="grid-title">
                            upload
                        </div>
                    </a>
                </div>
            </div>
        {{end}}
    </div>

{{end}}