<!DOCTYPE html>
<html>

<head>
    {{template "HeadTemp"}}
</head>

<body>

    <div class="container">
        {{template "NavTemp" .}}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-12">
                {{template "SearchBar"}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{template "MsgTemp" .}}
                {{template "FolderTemp" .}}
                {{if .Folder.Readme.Text}}
                {{template "MarkdownTemp" .}}
                {{end}}
            </div>
        </div>
    </div>

</body>

</html>