<!DOCTYPE html>
<html>

<head>
    {{template "HeadTemp"}}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-12">
                <div style="margin-top:10%;margin-bottom: 8%;" class="text-primary text-center">
                    <h2>GOFS</h2>
                </div>
                <form class="form" role="form" action="/login" method="POST">
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" id="username" placeholder="username">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" id="password"
                            placeholder="password">
                    </div>
                    <button type="submit" class="btn btn-success btn-block btn-left btn-right">sign in</button>
                </form>

                <!-- <a href="#" data-toggle="modal" data-target="#registerModal">register</a> -->
                {{if .Msg}}
                    <br>
                    <strong class="{{.Type}}">{{.Msg}}</strong>
                    <br>
                {{end}}
                <br>
                do not have account? <a onclick="showRegister()" href="#">sign up</a>
                <br>
                <br>

                <!-- register -->

                <form class="form" role="form" action="/register" method="POST" hidden id="register-form">
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="username" name="username">

                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" placeholder="password" name="password">

                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" placeholder="confirm password"
                            name="confirmPassword">

                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="token" name="token">

                    </div>
                    <div class="form-group">

                        <button type="submit" class="btn btn-primary btn-block btn-left btn-right">sign up</button>

                    </div>
                </form>




            </div>
        </div>
    </div>

</body>
<script>
    var show = false;
    function showRegister() {
        show = !show;
        if (show) {
            $("#register-form").show();
        } else {
            $("#register-form").hide();
        }

    }
</script>

</html>