<!DOCTYPE html>
<html>

<head>
    {{template "HeadTemp"}}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
                <div style="margin-top:10%;padding-left:10px;" class="text-primary">
                    <h2>GOFS</h2>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <strong>Login</strong>
                        </h3>
                    </div>
                    <div class="panel-body panel-body-login">
                        <form class="form-inline" role="form" action="/login" method="POST">
                            <div class="form-group">
                                <input type="text" name="username" class="form-control" id="username" placeholder="username">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" id="password" placeholder="password">
                            </div>
                            <button type="submit" class="btn btn-success pull-right">submit</button>
                        </form>
                    </div>
                    <ul class="list-group" id="panel-list">
                        <li class="list-group-item">do not have account?
                            <!-- <a href="#" data-toggle="modal" data-target="#registerModal">register</a> -->
                            <a onclick="showRegister()" href="#">register</a>
                        </li>
                        {{if .Msg}}
                        <li class="list-group-item">
                            <strong class="{{.Type}}">{{.Msg}}</strong>
                        </li>
                        {{end}}
                    </ul>
                </div>
                <!-- register -->
                <div class="panel panel-default" style="display:none;" id="register-form">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <strong>Register</strong>
                        </h3>
                    </div>
                    <div class="panel-body" style="padding:10px;">
                        <form class="form-horizontal" role="form" action="/register" method="POST">
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">username:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="username" placeholder="username" name="username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-sm-2 control-label">password:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="password" placeholder="password" name="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-sm-2 control-label">confirm:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="confirmPassword" placeholder="confirm password" name="confirmPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary btn-block">register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>

</body>
<script>
    function showRegister() {
        $("#register-form").show();
    }
</script>

</html>