{{define "MarkdownTemp"}}


<!--pannle-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
        {{.Folder.Readme.FileName}}
        </h3>
    </div>
    <div class="panel-body" style="padding:10px;">
        <div class="md-box">
            <textarea name="md-textarea" id="md-textarea">
                
            </textarea>
        </div>
    </div>
</div>

<!--js-->
<script>
    $("#md-textarea").markdown({
        autofocus: false,
        savable: false,
        fullscreen: false,
        hiddenButtons: "cmdBold cmdPreview cmdItalic cmdHeading cmdUrl cmdImage cmdList cmdListO cmdCode cmdQuote",
        onShow: function (e) {
            e.setContent("\n"+"{{.Folder.Readme.Text}}")
            e.showPreview();
            $(".md-header").remove();
        },
    });

</script>

{{end}}