{{define "NavTemp"}}

<!--nav-->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">GoFS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-toggle="modal" data-target="#uploadModal">
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Upload
                        <span id="upload-info" class="badge bg-success"></span>
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li>
                    <form class="navbar-form navbar-left" method="POST" action="/search">
                        <div class="input-group">
                            <input type="text" class="form-control input-search" placeholder="keywords" name="key">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success btn-search">Search</button>
                            </span>
                        </div>
                    </form>
                </li> -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                        View
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/folder?t=grid&name={{$.Folder.Path}}">
                                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                                 grid
                            </a></li>
                        <li><a href="/folder?t=table&name={{$.Folder.Path}}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> table</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {{$.Username}}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> logout</a></li>
                    </ul>
                </li>


            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!--end-->

<!--moda-->
<!-- 按钮触发模态框 -->

<!-- 模态框（Modal） -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="uploadModalLabel">Upload</h4>
            </div>
            <div class="modal-body">
                <div id="fine-uploader">
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="mkdirModal" tabindex="-1" role="dialog" aria-labelledby="mkdirModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <form action="/folder" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="uploadModalLabel">New Folder</h4>
                </div>
                <div class="modal-body">

                    <input name="name" type="text" class="form-control" placeholder="folder name"
                        aria-describedby="basic-addon1" required>
                    <input name="path" type="hidden" value="{{$.Folder.Path}}">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="touchModal" tabindex="-1" role="dialog" aria-labelledby="touchModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <form action="/file" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="uploadModalLabel">New File</h4>
                </div>
                <div class="modal-body">

                    <input name="name" type="text" class="form-control" placeholder="file name"
                        aria-describedby="basic-addon1" required checked>
                    <input name="path" type="hidden" value="{{$.Folder.Path}}">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<!--js-->

<script src="public/js/fine-uploader.min.js"></script>
<script type="text/template" id="qq-template">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <!--<div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>-->
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>

        <div style="margin-bottom:10px;" class="row" >
            <div class="col-xs-6">
            <button class="qq-upload-button-selector btn btn-primary btn-block">
                    <span class="badge">step 1 </span> Select files
                </button>
            </div>
            <div class="col-xs-6">
            <button class="btn btn-success btn-block" onclick="doUpload()">
                    <span class="badge">step 2 </span> Do Upload
                </button>
            </div>
        </div>

        <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
        <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector modal-content ">
            <div class="qq-dialog-message-selector modal-header"></div>
            <div class="qq-dialog-buttons modal-body">
                <button type="button" class="qq-cancel-button-selector btn btn-primary">Close</button>
            </div>
        </dialog>


        <dialog class="qq-confirm-dialog-selector  modal-content ">
            <div class="qq-dialog-message-selector modal-header"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector btn btn-danger">No</button>
                <button type="button" class="qq-ok-button-selector btn btn-success">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector modal-content">
            <div class="qq-dialog-message-selector modal-header"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector btn btn-danger">Cancel</button>
                <button type="button" class="qq-ok-button-selector btn btn-success">Ok</button>
            </div>
        </dialog>
    </div>
</script>
<script>
    var fileCount = 0;
    var uploader = new qq.FineUploader({
        autoUpload: false,
        debug: false,
        element: document.getElementById('fine-uploader'),
        request: {
            endpoint: '/upload',
            inputName: 'file',
            params: { filePath: "{{$.Folder.Path}}" }
        },
        // validation: {
        //     itemLimit: 5
        // },
        deleteFile: {
            enabled: false,
            endpoint: ''
        },
        retry: {
            enableAuto: false
        },
        callbacks: {
            onAllComplete: function (succeeded, failed) {
                if (failed.length == 0) {
                    alert("Upload Success");
                } else {
                    alert("Upload Failed");
                }
                window.location.href = "/folder?name={{$.Folder.Path}}";
            },
            onSubmitted: function (id, name) {
                $('#upload-info').text(++fileCount);
                $('#upload-info').show();
            },
            onCancel: function (id, name) {
                $('#upload-info').text(--fileCount);
                if (fileCount == 0) {
                    $('#upload-info').hide();
                }

            }
        }
    });

    function doUpload() {
        uploader.uploadStoredFiles();
    }

</script> {{end}}